@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Roboto", serif;
}
h1 , h2{
  font-family: "Fraunces", serif;
}
ul>li{
  font-family: "Fraunces", serif;
}

html {
  scroll-behavior: smooth; /* Kích hoạt cuộn mượt */
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
input[type="date"]::before {
  content: attr(placeholder);
  color: #9ca3af; /* Màu xám placeholder */
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "" !important;
}

input[type="date"] {
  color: transparent; /* Ẩn giá trị dd/mm/yyyy */
}

input[type="date"]:focus,
input[type="date"]:valid {
  color: #000; /* Hiện màu chữ khi có dữ liệu */
}



